* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
}

body {
  text-align: center;
  margin: 0;
  color: white;
  min-height: 200vh;
}

.box {
  border: 6px solid white;
  transition: 0.25s ease;
  background: black;
  padding: 10px;
}

.question-clicked {
  background: black;
  border-radius: 30px;
  border: 6px dashed pink;
}
p{
  visibility: hidden;
  width: 240px;
  margin: 10px auto 0;
  opacity: 0;
  transition: 0.6s;
}

.show-response{
  visibility: visible;
  opacity: 1;
}

.mousemove{
  height: 50px;
  width: 50px;
  border: 2px solid pink;
  position:absolute;
  left: 50%;
  top: 132%;
  border-radius: 50px;
  transform: translate(-50%, -50%);
}

nav {
  background: turquoise;
  position: fixed;
  width: 100%;
  height: 50px;
  top: -50px;
  transition: 0.4s;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}
